.App {
  font-family: "Times New Roman", "Calibri", serif;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.CopyrightContainer {
  margin-top: 50%;
}


@media only screen and (min-width: 375px) {
  .CopyrightContainer {
  margin-top: 130%;
}
}

@media only screen and (min-width: 500px) {
  .CopyrightContainer {
  margin-top: 95%;
}
}

@media only screen and (min-width: 700px) {
  .CopyrightContainer {
  margin-top: 70%;
}
}

@media only screen and (min-width: 900px) {
  .CopyrightContainer {
  margin-top: 60%;
}
}

@media only screen and (min-width: 1200px) {
  .CopyrightContainer {
  margin-top: 50%;
}
}



.copyright {
  text-align: right;
  position: absolute;

}
.Main {
  margin-bottom: 25px;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkgreen;
}

.App-link {
  color: black;
}

h1{
  color: darkgreen;
}

h4{
  color: darkgreen;
}

.App #Donate {
  background-color: darkgreen;
  color: white;
  border-color: white;

}

.App #Donate:hover {
  background-color: white;
  color: darkgreen;
  border-color: darkgreen;
}

.Input {
  color: darkgreen;
}

.List {
  color: darkgreen;
}

.List #donationTable {
  color: darkgreen;
}

.center{
  justify-content:center;
  align-content: center
}
.textcenter{
  text-align: center;
}

.List {
  text-align: center;
}

.ScrollContainer {
  margin-top: 10%;
  /*margin-bottom: 50%;*/
  width: 100%;
  height: 95%;
}

.Scroll {
  display: block;
  text-align: center;
  position: absolute;
  width: 75%;
  height: 500px;
  /*top: 30%;*/
  left: 50%;
  transform: translate(-50%, -10%);
  overflow-y: scroll;
}