.App {
  font-family: "Times New Roman", "Calibri", serif;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkgreen;
}

.App-link {
  color: black;
}

h1{
  color: darkgreen;
}

h4{
  color: darkgreen;
}

.App #Donate {
  background-color: darkgreen;
  color: white;
  border-color: white;

}

.App #Donate:hover {
  background-color: white;
  color: darkgreen;
  border-color: darkgreen;
}

.Input {
  color: darkgreen;
}

.List {
  color: darkgreen;
}

.List #donationTable {
  color: darkgreen;
}

.center{
  justify-content:center;
  align-content: center
}
.textcenter{
  text-align: center;
}

.List {
  text-align: center;
}
